
<header class="page_header">

    <div class="ms_header">
        <div class="ms_header_nav">
            <nav>
                <ul class="menu">
                    <%= render :partial => 'general/locale_switcher' %>
                    <%= render :partial => 'general/orglink' %>
                    <li><a class="ms_header_nav-about" href="<%= help_about_path %>"><%= _("About") %></a></li>
                    <li><a class="ms_header_nav-blog" href="<%= blog_path %>"><%= _("Blog") %></a></li>

                </ul>
            </nav>
        </div>
    </div>
    <div class="logo">
        <a href="<%= frontpage_path %>"> <%= image_tag "alaveteli_logo.png", :alt => "" %></a>
    </div>
    <div class="login-block">
    <% if @user %>
        <%= _('Hello, {{username}}!', :username => h(@user.name))%>

          <%=link_to _("My profile"), show_user_profile_path(:url_name => @user.url_name) %> |
          <%=link_to _("My requests"), show_user_requests_path(:url_name => @user.url_name) %> |
          <%=link_to _("Recent Activity"), show_user_wall_path(:url_name => @user.url_name) %> |
          <%= link_to _("Logout"), signout_path(:r => request.fullpath) %>
    <% else %>

      <a href="<%= signin_path(:r => request.fullpath) %>"><%= _("Login") %></a>
    <% end %>
    </div>
    <div class="main_menu">
        <ul>
            <li class="menu-newrequest <%= 'active' if params[:controller] == 'request' and ['new', 'select_authority'].include?(params[:action]) %>">
              <a href="<%= select_authority_path %>">
                <%= _("Make Request") %>
              </a>
            </li>
            <li class="menu-viewrequests  <%= 'active' if params[:controller] == 'request' and !['new', 'select_authority'].include?(params[:action]) %>">
              <a href="<%= request_list_successful_path %>">
                <%= _("View Requests") %>
              </a>
            </li>
            <li class="menu-viewauthorities <%= 'active' if params[:controller] == 'public_body' %>">
              <a href="<%= list_public_bodies_default_path %>">
                <%= _("View Authorities") %>
              </a>
              </li>
            <li class="menu-emailalerts">
              <a href="#">
                <%= _("Email Alerts") %>
              </a>
            </li>
            <li class="menu-help <%= 'active' if params[:controller] == 'help' %>">
              <a href="<%= help_about_path %>">
                <%= _("Help") %>
              </a>
            </li>
            <li class="menu-search">
              <form method="post" action="<%= search_redirect_path %>">
                  <label for="search"><%= image_tag "search.png", :alt => "Search:" %></label>
                  <%= text_field_tag 'query', params[:query] %>
               </form>
            </li>
        </ul>
    </div>


</header>
