<% if @show_requests %>
  <% @title =  _("{{user_name}} - Freedom of Information requests", :user_name => h(@display_user.name)) %>
<% else %>
  <% @title = _("{{user_name}} - user profile", :user_name => h(@display_user.name)) %>
<% end %>

<% if (@same_name_users.size >= 1) %>
    <div class="notice_banner"><%= _('There is <strong>more than one person</strong> who uses this site and has this name.
    One of them is shown below, you may mean a different one:')%> <% for @same_name_user in @same_name_users %>
        <%= user_link(@same_name_user) %>
    <% end %>
    </div>
<% end %>

<% if @show_profile && @is_you && @undescribed_requests.size > 0 %>
    <div class="undescribed_requests notice_banner pending">
        <p><%= _('Please <strong>go to the following requests</strong>, and let us
        know if there was information in the recent responses to them.')%></p>
        <ul>
        <% for undescribed_request in @undescribed_requests %>
            <li><%=request_link(undescribed_request)%></li>
        <% end %>
        </ul>
        <p>
      <%= _('Thanks very much - this will help others find useful stuff. We\'ll
            also, if you need it, give advice on what to do next about your
            requests.')%>
        </p>
    </div>
<% end %>

<% if @show_profile %>
    <div id="user_profile_header">

      <div class="header">

        <!--
          <div class="header_left">
            <p id="user_photo_on_profile">
                <% if @display_user.profile_photo %>
                    <% if @is_you %>
                    <a href="<%= set_profile_photo_url() %>">
                    <% end %>
                        <img src="<%= get_profile_photo_url(:url_name => @display_user.url_name) %>" alt="">
                    <% if @is_you %>
                    </a>
                    <% end %>
                <% else %>
                    <% if @is_you %>
                        <span id="set_photo">
                            <%= link_to _('Set your profile photo'), set_profile_photo_path %>
                        </span>
                    <% end %>
                <% end %>
            </p>
          </div>
        -->

        <h1><%= h(@display_user.name) + (@is_you ? _(" (you)") : "") %></h1>

        <p class="subtitle">
           <%= _('Joined {{site_name}} in', :site_name=>site_name) %> <%= year_from_date(@display_user.created_at) %>
            <% if !@user.nil? && @user.admin_page_links? %>
            (<%= link_to "admin", admin_user_show_path(@display_user) %>)
            <% end %>
        </p>

        <p>
            <%= link_to _('Send message to ') + h(@display_user.name), contact_user_path(:id => @display_user.id) %>
            <% if @is_you %>
                (<%= _('just to see how it works')%>)
            <% end %>
        </p>

        <% if @display_user.public_banned? %>
            <div id="user_public_banned">
                <p>
                    <strong>
                      <%= _('This user has been banned from {{site_name}} ', :site_name=>site_name)%>
                    </strong>
                </p>
                <p>
                   <%= _('They have been given the following explanation:')%>
                </p>
                <p class="details">
                    <%= @display_user.can_fail_html %>
                </p>
            </div>
        <% end %>

        <!-- SEARCH -->

        <!--
        <%= form_tag(show_user_url, :method => "get", :id=>"search_form") do %>
        <div>
            <%= text_field_tag(:user_query, params[:user_query], {:title => "type your search term here" }) %>
            <% if @is_you %>
                <%= submit_tag(_("Search your requests")) %>
            <% else %>
                <%= submit_tag(_("Search {{user_name}}'s requests", :user_name => @display_user.name)) %>
            <% end %>
        </div>
        <% end %>
        -->

        <%= render :partial => 'user/show_user_info' %>

      </div>

    </div>
<% end %>

<div class="user_profile_contributions">

<% if @show_profile %>
  <div class="user_track">
     <% if !@track_thing.nil? %>
       <h2><%= _('Get alerts of new requests')%></h2>
       <%= render :partial => 'track/tracking_links', :locals => { :track_thing => @track_thing, :own_request => false, :location => 'sidebar' } %>
     <% end %>
  </div>
<% end %>

    <!-- REQUESTS -->

    <% if !@xapian_requests.nil? %>
        <% results = @xapian_requests.results
           if @show_profile
               results = results[0,3]
           end %>
        <% if results.empty? %>
        <div class="results_section request_list">
            <% if @page == 1 %>
                <h2><%= _('Requests') %>:</h2>
                <p><%= @is_you ? _('You have made no Freedom of Information requests using this site.') : _('This person has made no Freedom of Information requests using this site.') %>
            <% end %>
        </div>
        <% else %>
        <div class="results_section request_list">
            <h2><%= _('Requests') %><%= @match_phrase %><%= @page_desc %>: <small class="requests_total"><%= @xapian_requests.matches_estimated %></small></h2>
            <ol class="results_block">
                <% for result in results %>
                    <%= render :partial => 'request/request_listing_user_page', :locals => { :event => result[:model], :info_request => result[:model].info_request } %>
                <% end %>
            </ol>
            <% if @show_profile %>
                <%= link_to _('View All Requests'), show_user_requests_path(:url_name => @display_user.url_name) %>
            <% else %>
                <%= will_paginate WillPaginate::Collection.new(@page, @per_page, @display_user.info_requests.size) %>
            <% end %>
        </div>
        <% end %>
    <% else %>
      <% if @show_requests %>
      <div class="results_section request_list">
        <h2><%= _('Requests') %>: 0</h2>
        <p><%= _('The search index is currently offline, so we can\'t show the Freedom of Information requests this person has made.')%></p>
      </div>
      <% end %>
    <% end %>

    <!-- ANNOTATIONS -->

    <% if !@xapian_comments.nil? %>
        <% if @xapian_comments.results.empty? %>
        <div class="results_section request_list">
            <h2><%= _('Annotations') %></h2>
            <% if @page == 1 %>
                <p><%= _('None made.')%></p>
            <% end %>
        </div>
        <% else %>
        <div class="results_section request_list">
            <h2><%= _('Annotations') %>: <small class="requests_total"><%= @display_user.visible_comments.size %></small></h2>
                <ol class="results_block">
                <% for result in @xapian_comments.results[0,3] %>
                    <%= render :partial => 'request/request_listing_user_page', :locals => { :event => result[:model], :info_request => result[:model].info_request } %>
                <% end %>
            </ol>
        </div>
            <!-- FIXME: need to create a view for "view all annotations" -->
            <%= link_to _('View All Annotations'), show_user_requests_path(:url_name => @display_user.url_name) %>
        <% end %>
    <% end %>

    <!-- THINGS YOU'RE FOLLOWING -->

    <% if @show_profile && @is_you %>
        <h2 id="email_subscriptions"> <%= _("Things you're following")%></h2>
        <%= render :partial => 'change_receive_email' %>

        <% if @track_things.empty? %>
            <p><%= _("You're not following anything.")%></p>
        <% else %>
            <% if @track_things_grouped.size == 1 %>
                <%= form_tag({:controller => 'track', :action => 'delete_all_type'}, :class => "feed_form") do %>
                    <h3>
                        <%=TrackThing.track_type_description(@track_things[0].track_type)%>
                        <%= hidden_field_tag 'track_type', @track_things[0].track_type %>
                        <%= hidden_field_tag 'user', @display_user.id %>
                        <%= hidden_field_tag 'r', request.fullpath %>
                        <% if @track_things.size > 1 %>
                            <%= submit_tag _('unsubscribe all') %>
                        <% end %>
                    </h3>
                <% end %>
            <% end %>
            <% for track_type, track_things in @track_things_grouped %>
                <% if @track_things_grouped.size > 1 %>
                    <%= form_tag({:controller => 'track', :action => 'delete_all_type'}, :class => "feed_form") do %>
                        <h3>
                            <%=TrackThing.track_type_description(track_type)%>
                            <%= hidden_field_tag 'track_type', track_type %>
                            <%= hidden_field_tag 'user', @display_user.id %>
                            <%= hidden_field_tag 'r', request.fullpath %>
                            <% if track_things.size > 1 %>
                                <%= submit_tag _('unsubscribe all')%>
                            <% end %>
                        </h3>
                    <% end %>
                <% end %>

                <ul>
                <% for track_thing in track_things %>
                    <li>
                        <%= form_tag({:controller => 'track', :action => 'update', :track_id => track_thing.id}, :class => "feed_form") do %>
                            <div>
                                <%= track_thing.params[:list_description] %>
                                <%= hidden_field_tag 'track_medium', "delete", { :id => 'track_medium_' + track_thing.id.to_s } %>
                                <%= hidden_field_tag 'r', request.fullpath, { :id => 'r_' + track_thing.id.to_s }  %>
                                <%= submit_tag _('unsubscribe') %>
                            </div>
                        <% end %>
                    </li>
                <% end %>
                </ul>
            <% end %>
        <% end %>
    <% end %>

</div>
