<div class="request-user_actions-owner">
 <p><%= _('Hello {{user_name_link}}', :user_name_link => link_to(@user.name, show_user_profile_path(:url_name => @user.url_name), {:class => 'user'})) %></p>
 <ul>
 <% if @info_request.public_body.is_foi_officer?(@user) %>
   <li><%= link_to _("Respond to request"), upload_response_path(:url_title => @info_request.url_title) %></li>
 <% end %>
 <% if @info_request.is_owning_user?(@user) %>
   <li>
   <% if @last_response.nil? %>
       <%= link_to _("Send a followup"), show_response_no_followup_path(:id => @info_request.id, :incoming_message_id => nil) + "#followup" %>
   <% else %>
       <%= link_to _("Write a reply"), show_response_path(:id => @info_request.id, :incoming_message_id => @last_response.id) + "#followup" %>
   <% end %>
   </li>
  <% end %>
  <% if @info_request.is_owning_user?(@user) || @old_unclassified %>
   <li><%= link_to _("Update the status of this request"), request_path(@info_request, :update_status => 1) %></li>
  <% end %>
  <% if @info_request.is_owning_user?(@user) %>
   <li><%= link_to _("Request an internal review"), show_response_no_followup_path(:id => @info_request.id, :incoming_message_id => nil) + "?internal_review=1#followup" %></li>
 <% end %>
 </ul>
</div>

