<!-- <div class="correspondence_text">
    <p>Please find our response attached.<br><br>Army Secretariat, Army HQ, Second Floor, Zone 1, IDL 24, Blenheim<br> Building, Marlborough Lines, Andover, Hampshire, SP11 8HJ</p>
</div>

<ul class="attachments">
    <li class="attachment attachment-pdf">
        <a href="#download-link">
            <strong class="attachment-title">20130712 FOI 70850 ExCosts reply U.pdf</strong>
            <span class="attachment-filesize">55K</span>
            <div class="attachment-download">
                <a class="attachment-download-view" href="#view-link">View Online</a>
                <a class="attachment-download-save" href="#download-link">Download</a>
            </div>
        </a>
    </li>
</ul> -->



<div class="correspondence_text">
  <p><%= body %></p>

    <% if not attachments.nil? and attachments.size > 0 %>
        <ul class="attachments">
            <% attachments.each do |a| %>
                <li class="attachment">
                  <a href="#download-link">
                      <strong class="attachment-title"><%= a.display_filename %></strong>
                      <span class="attachment-filesize"><%= a.display_size %></span>
                      <div class="attachment-download">
                          <% if a.has_body_as_html? && incoming_message.info_request.all_can_view? %>
                            <a class="attachment-download-view" href="<%= html_attachment_path(a) %>">View Online</a>
                          <% end %>
                          <a class="attachment-download-save" href="<%= attachment_path(a) %>">Download</a>
                      </div>
                     <span class="attachment-note"><%= a.extra_note %></span>
                  </a>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>
